.cover__link{
  text-decoration: none;
  display: block;
  color: white;
  background-image: url(../../../images/vokzal.png);
  background-size: 100% 100%;
  max-width: 1184px;
  max-height: 740px;
  margin: 12px auto 92px;
  position: relative;
  font-family: Inter;
  padding-top: 245px;
  padding-bottom: 245px;
  z-index: 1;
}
.cover__link::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition:opacity 3s linear 0s;
}
.cover__link:hover::after{
  opacity: 0.8;
}