.intro__lists{
  list-style-type: none;
  margin: 33px 0 92px;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
  
@media(max-width:768px){
  .intro__lists{
    margin-bottom: 88px;
  }
}
@media(max-width:320px){
  .intro__lists{
    margin: 34px 0 64px;
  }
}