.lead__subtitle{
  margin: 32px auto 64px;
  text-align: center;
  min-width: 640px;
  min-height: 72px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  white-space: pre-line;
  font-weight: 400;
}