.place__link{
  color: white;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  opacity: 1.0;
  transition:opacity 3s linear 0s;
}
.place__link:hover{
  opacity: .8;
}
@media(max-width:767px){
  .place__link{
    margin-left: 16px;
  }
}